<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Plane Ticket</title>
  <link rel="stylesheet" href="/stylesheets/angular-material.min.css">

  <script src="/javascripts/angular.min.js"></script>
  <script src="/javascripts/angular-animate.min.js"></script>
  <script src="/javascripts/angular-aria.min.js"></script>
  <script src="/javascripts/angular-messages.min.js"></script>
  <script src="/javascripts/angular-material.min.js"></script>

  <script src="/javascripts/angular-ui-router.js"></script>
  <script src="/javascripts/angularApp.js"></script>

</head>

<body>
	Error
</body>

</html>