<div ng-cloak layout="row" layout-align="center">
  <md-card flex="50">
    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>Danh sách chuyến bay</span>
      </h2>
    </md-toolbar>
    <md-card-content>
      <div layout="row" >
        <md-select ng-model="planesListCtrl.title" placeholder="Danh xưng" class="md-no-underline">
          <md-option ng-repeat="i in planesListCtrl.titleArray" value="{{i}}">{{i}}</md-option>
        </md-select>
        <md-input-container>
        <label>Họ</label>
          <input ng-model="user.lastName">
        </md-input-container>
        <md-input-container>
        <label>Tên</label>
          <input ng-model="user.firstName">
        </md-input-container>
      </div>

      <div layout="row" layout-align="end">
        <md-button class="md-raised md-primary" ng-click="mainCtrl.check()">Đặt vé</md-button>
      </div>


    </md-card-content>
  </md-card>
</div>

